* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Merriweather', serif;
} /*CSS Reset*/

html { 
	scroll-behavior: smooth;
 }

/*Landing Page*/

.jumbotron hr {
	background-color: #fff; /*white*/
}

.jumbotron p {
	color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}

#jumbo-land {
	height: 100vh;
	padding-top: 5%;
	/*background-color: #333; /*offblack*/*/
	border-radius: 0; /*remove jumbo rounded corner*/
	background-image: url(../images/landpagebg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: .9
}

.jumbotron h1 {
	color: #f2f2f2; /*white*/
}

.img-thumbnail {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#navbar {
	color: white;
}

/*end of Landing Page*/

/*Home Page*/

.navbar img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.navbar a {
	font-size: 25px;
}

.navbar span {
	margin-left: 10px;
}

#home-landing {
	background-color: #333; /*offblack*/
	color: #fff; /*white*/
	padding: 20%;
}

#carousel-home {
	height: 100vh;
}

#carousel-home a {
	height: 90vh;
	max-height: 90vh;
}

/*end of Home Page*/

/*About Page*/


.about-image img {
	width: 80%;
	height: 200px;
}

.parallax {

	background-image: url(../images/parallaximg1.jpg);
	width: 100%;
	height: 40vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*end of About Page*/




/*Contact Page*/

#header-row {
	padding: 0;
}

.contact-us {
	margin: 20px 0 20px 20px;
	padding: 0;
}

.maps {
	margin-left: 15px;
}

.info li {
	margin: 20px 0;
}

#right-col {
	padding-right: 0;
}

ul {
	list-style: none;

}

.contact-us > ul > li{
	margin: 10px;
	padding: 10px;
}


.social-img {
	height: 50px;
	width: 50px;
	padding: 5px;
	margin: 5px;
	border-radius: 50%;
}

.operation {
	text-align: center;
}

.form-details {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.form-btn {
	width: 50%;
}

/*End of Contact Page*/