* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Merriweather', serif;
} /*CSS Reset*/

html { 
	scroll-behavior: smooth;
 }

body {
	background-color: #F7F7F8;
}

/*Landing Page*/

.jumbotron hr {
	background-color: #fff; /*white*/
}

.jumbotron p {
	color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}

#jumbo-land {
	height: 100vh;
	padding-top: 5%;
	/*background-color: #333; /*offblack*/*/
	border-radius: 0; /*remove jumbo rounded corner*/
	background-image: url(../images/landpagebg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: .9
}

.land-font {
	color: #C9F0FF;
	font-weight: bold;
}

.Juandiverslogo {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#navbar {
	color: white;
}

/*End of Landing Page*/

/*Navigation Section*/

#navbtn {
	width: 140px;
	height: 50px;


}

.navbar img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.navbar a {
	font-size: 25px;
}

.navbar span {
	margin-left: 10px;
}

/*End of Navigation Section*/

/*Start of Home Page*/

.carousel-item {
	height: 90vh;
}

.first {
	height: 90vh;
}

.next-prev{
	padding-left: 20px;

}

.expedition-note {
	margin-top: 100px;
	text-align: center;
	color: indianred;
}


/*.happydivers {
	height: 200px;
	width: 230px;
}*/


#carousel-card {
	margin-top: 100px;
	/*border: 1px solid black;*/
	height: 450px;
	width: 90%;	
}

.happydiver {
	margin: 10px;
	padding: 10px;
	text-align: center;
	color: indianred;
}

.card-bg {
	border: 1px dashed black;
}

.card-img9 {
	height: 220px;
	width: 150px;
}

.dive-icon {
	color: maroon;
}

.video-section {
	/*background-color: #E8E6E6;*/
	/*padding: 10px;*/
}

.video {
	margin-left: 30%;
}

/*End of Home Page*/



/*About Page*/


.about-image img {
	width: 80%;
	height: 200px;
	margin: 20px;
	padding-left: 10%;
}

.parallax {

	background-image: url(../images/parallaximg1.jpg);
	width: 100%;
	height: 40vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*end of About Page*/


/*Service Page*/

.certified {
	margin-top: 50px;
	color: indianred;
}


/*/Service Page*/

/*Contact Page*/

#header-row {
	padding: 0;
}

.contact-us {
	margin: 20px 0 20px 20px;
	padding: 0;
}

.maps {
	margin-left: 15px;
}

.info li {
	margin: 20px 0;
}

#right-col {
	padding-right: 0;
}

ul {
	list-style: none;

}

.contact-us > ul > li{
	margin: 10px;
	padding: 10px;
}


.social-img {
	height: 50px;
	width: 50px;
	padding: 5px;
	margin: 5px;
	border-radius: 50%;
}

.operation {
	text-align: center;
}

.form-details {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

.form-btn {
	width: 50%;
}

.contactfont {
	color: indianred;
}

.img-anilao {
	height: 500px;
	width: 600px;
	margin-left: 20%;
	padding: 20px;
}


/*End of Contact Page*/

/*Footer*/

footer {
	height: 60px;
}

.social-icon {
	height: 40px;
	width: 40px;
	margin: 3px;
	border-radius: 40%;


}

























/*Media Quiries*/

/*mobile device*/
@media only screen and (max-width: 400px) {
	.media-img {
		display: none;
	}

	.video {
		display: none;
	}

	#carousel-card {
		height: 10px;
	}

	.img-anilao {
		height: 250px;
		width: 300px;
		padding: 10px;
		margin-left: 30px;
	}

	.div-col { 
		padding-left: 2px;
		margin: 0;
	}

	.maps {
		height: 300px;
		width: 350px;
	}

	

}




/*Table Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}




/*Desktop Style*/
@media only screen and (min-width: 961px) {

}